.exp {
  height: 200%;
  width: 100%;
}

.exp_title {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #959da5;
  opacity: 0.9;
}

.exp_items {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 10rem 0 0;
}

.exp_item_title {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 2rem 0 1.5rem;
  font-size: 1.6rem;
}

.exp_item_desc {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1rem 0 2rem;
  font-size: 1.18rem;
  line-height: 1.6rem;
}

@media only screen and (min-width: 741px) {
  .exp_title {
    font-size: 8rem;
  }

  .exp_item_title{
    font-size: 2.4rem
  }

  .exp_item_desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
